body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(35, 37, 37);
    display: flex;
    align-content: center;
    margin: 0;
    padding: 0;
}

.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(194, 133, 10);
}

.logo h1 {
    padding-left: 50px;
}

.menu ul {
    list-style-type: none;
    padding-left: 300px;
    display: flex;
}

.menu ul li {
    margin: 15px;
    color: aliceblue;
}

.menu ul li a {
    color: aliceblue;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*PARTE DO HERO --------------------------------------------------------------*/

.hero {
    background-color: rgb(66, 77, 77);
    align-content: center;
    text-align: center;
    height: 480px;
    justify-content: center;
}

.hero h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    margin-bottom: 0px;
    font-size: 78px;
    padding: 0px;
    color: aliceblue;
}

.hero h3 {
    margin: 0px 0px 68px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(194, 133, 10);
    color: black;
    border-radius: 8px;
    font-size: 28px;
    padding: 15px 35px;
}

/* SERVIÇOS ------------------------------------------------------------------- */

.services {
    background-color: beige;
    display: flex;
    height: 280px;
    font-size: 28px;
    text-align: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card1 img {
    width: 80px;
    height: 80px;
    margin: 0px;
    padding-top: 80px;
}

.card2 img {
    width: 80px;
    padding-top: 80px;
    height: 80px;
}

.card3 img {
    width: 80px;
    padding-top: 80px;
    height: 80px;
}

.card1 h5 {
    margin: 0px;
    padding: 0px 150px;
}

.card2 h5 {
    margin: 0px;
    padding: 0px 150px;
}

.card3 h5 {
    margin: 0px;
    padding: 0px 150px;
}

/* ABOUT/WY US ================================================ */

.about {
    max-height: 600px;
    display: flex;
    background-color: rgb(35, 37, 37);
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.image-about img {
    width: 380px;
    height: 500px;
    border-radius: 18px;
    margin-top: 80px;
    margin-right: 60px;
}

.text-about p {
    color: aliceblue;
    width: 480px;
    font-size: 22px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 80px;
}


/*GALERIA ========================*/

.galery {
    background-color: rgb(35, 37, 37);
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.our-gallery {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    color: gold;
    margin-top: 108px;
    background-color: rgb(35, 37, 37);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.galery img {
    max-height: 300px;
    border-radius: 8px;
    margin: 3px;
}