body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1a1a1a;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu {
    text-decoration: none;
    display: flex;
    margin: 0;
    padding: 0;
}